# Server
PORT=7865
NODE_ENV=development

# Database (Neon PostgreSQL)
DATABASE_URL=postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require
DIRECT_DATABASE_URL=postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require

# JWT
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d

# Redis
REDIS_URL=redis://localhost:6379

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# SendGrid
SENDGRID_API_KEY=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
SENDGRID_FROM_EMAIL=ziaareact@gmail.com
FROM_NAME="Lease Management"
